
@media  (max-width: 429px) {
	body {
    background: grey;
  }
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 430px) AND (max-width: 768px)  {
	body {
    background: red;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 769px) {
  body {
    background: blue;
  }
}
